.idea
telegram_bot/.env
grafana/.env
.env
comrade-chatgpt-bot-main/digitalocean/helm_grafana/terraform.tfstate
comrade-chatgpt-bot-main/digitalocean/helm_grafana/terraform.tfstate.backup
comrade-chatgpt-bot-main/infra_terraform/kubernetus/variables.tf
terraform.tfstate
terraform.tfstate.backup
variables.tf
.terraform
.terraform.lock.hcl